@charset "UTF-8";
/*Body - Historia*/
.history-title {
  font-size: 35px;
  text-align: center;
  text-decoration: underline;
}

.history {
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.history img {
  width: 35%;
  height: auto;
}
.history .history-info {
  margin-left: 30px;
  font-size: 15px;
}

/*Body - Servicios*/
.service-title {
  font-size: 35px;
  text-align: center;
  text-decoration: underline;
}

.service {
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.service img {
  width: 38%;
  height: auto;
}
.service .service-info {
  margin-left: 30px;
  font-size: 15px;
}

/*Body - Otros*/
#contacto {
  color: black;
  text-align: center;
  text-decoration: underline;
}

.contact-form {
  align-items: center;
  padding: 15px;
}

.location-info {
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.location-info iframe {
  width: 50%;
  height: auto;
}
.location-info .location {
  margin-left: 30px;
  font-size: 15px;
}

/*Body - Productos*/
.products-title {
  font-size: 35px;
  text-align: center;
  text-decoration: underline;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, minmax(200px, auto));
  grid-gap: 20px;
}

h2 {
  text-decoration: underline;
}

.product {
  background-color: #fff0df;
  padding: 15px;
  box-sizing: border-box;
  margin: 10px 15px;
  font-size: 15px;
}

.product img {
  max-width: 100%;
  height: auto;
}

/*Header*/
header {
  background-color: #fff0df;
}
header div .image-logo {
  width: 15%;
  height: 10%;
  margin: 0 40%;
}
@media only screen and (max-width: 850px) {
  header div .image-logo {
    margin: 3px 335px;
  }
}
header nav ul {
  border-bottom: 5px solid #fbd2a1;
  border-top: 5px solid #fbd2a1;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 5px;
}
@media only screen and (max-width: 480px) {
  header nav ul {
    margin: 0 0;
  }
}
header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: "Annapurna SIL", serif;
  size: 35px;
}
header nav ul li a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 480px) {
  header nav ul li a {
    font-size: 10px;
  }
}

/*Body*/
/*Video*/
section .video {
  text-align: center;
}
section .video video {
  width: 50%;
  height: 45%;
  padding: 10px;
  object-fit: cover;
}
@media only screen and (max-width: 650px) {
  section .video {
    width: 30%;
    height: 20%;
  }
}

/*Carrusel*/
.h2-home {
  color: black;
  text-align: center;
  text-decoration: underline;
  size: 15px;
}

section #carousel .carousel-inner .carousel-item img {
  width: 100px;
  height: auto;
}
@media only screen and (max-width: 480px) {
  section #carousel .carousel-inner .carousel-item {
    width: 60%;
    height: 50%;
  }
}

/*Productos Varios*/
.product-varios {
  font-size: 15px;
  color: black;
  text-align: center;
  text-decoration: underline;
}

.grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 10px;
}
@media only screen and (max-width: 870px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    padding: 10px;
  }
}
.grid .card .card-body .card-text {
  font-size: 15px;
}
@media only screen and (max-width: 480px) {
  .grid .card .card-body .card-text {
    font-size: 10px;
  }
}

/*Footer*/
footer {
  background-color: #fff0df;
  display: flex;
  justify-content: space-around;
  /*Redes sociales*/
  /*Logo de la compañia*/
  /*Informacion de contacto*/
}
footer .social-media-logos {
  background-color: #fff0df;
  padding: 10px;
}
footer .social-media-logos .instagram-info .i-link {
  font-size: 15px;
  color: black;
}
footer .social-media-logos .instagram-info .i-link:hover {
  text-decoration: underline;
}
footer .social-media-logos .facebook-info .f-link {
  font-size: 15px;
  color: black;
}
footer .social-media-logos .facebook-info .f-link:hover {
  text-decoration: underline;
}
footer .company-logo img {
  width: 25%;
  height: auto;
  border-radius: 15px;
  align-items: center;
}
footer .contact-info {
  text-align: center;
  padding: 10px;
}
footer .contact-info .contact-mail a {
  font-size: 15px;
  text-decoration: none;
  color: black;
}
footer .contact-info .contact-mail a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 480px) {
  footer .contact-info .contact-mail a {
    font-size: 8px;
  }
}
footer .phone-number a {
  font-size: 15px;
  text-decoration: none;
  color: black;
}
footer .phone-number a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 480px) {
  footer .phone-number a {
    font-size: 8px;
  }
}
footer .location-pin a {
  font-size: 15px;
  text-decoration: none;
  color: black;
}
footer .location-pin a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 480px) {
  footer .location-pin a {
    font-size: 8px;
  }
}

/*# sourceMappingURL=style.css.map */
