@import "componentes/historia";
@import "componentes/servicios";
@import "componentes/otros";
@import "componentes/productos";

/*Header*/
header{
    background-color: #fff0df;
    div{ 
        .image-logo{ 
            width: 15%;
            height: 10%;
            margin: 0 40%;
            @media only screen and (max-width: 850px) { 
                margin: 3px 335px ;
            }
        }
    }
    nav{     
        ul{
            border-bottom: 5px solid #fbd2a1;
            border-top: 5px solid #fbd2a1;
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin: 0 5px;
            @media only screen and (max-width: 480px ){
                margin: 0 0;
            }
            li{       
                a{

                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                    font-family: "Annapurna SIL", serif;
                    &:hover{ 
                        text-decoration: underline;
                    }
                    size: 35px;
                    @media only screen and (max-width: 480px){ 
                    font-size: 10px;
                    }   
                }
            }
        }
    }
}

/*Body*/
/*Video*/
section{ 
    .video{ 
        text-align: center;
        video{ 
            width: 50%;
            height: 45%;
            padding: 10px;  
            object-fit: cover;
        }
        @media only screen and (max-width: 650px) { 
            width: 30%;
            height: 20%;
        }
    }
}
/*Carrusel*/
.h2-home{ 
    color: black;
    text-align: center;
    text-decoration: underline;
    size: 15px;
}
section{
    #carousel{
        .carousel-inner{ 
            
            .carousel-item{ 
                img{ 
                    width: 100px;
                    height: auto; 
                }
                @media only screen and (max-width: 480px) { 
                    width: 60%;
                    height: 50%
                }
            }
        }
    }
}
/*Productos Varios*/
.product-varios{ 
    font-size: 15px;
    color: black;
    text-align: center;
    text-decoration: underline;
}
.grid{ 
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 10px;
    @media only screen and (max-width: 870px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        padding: 10px;
    }
    .card{ 
        
        .card-body{ 
            .card-text{ 
                font-size: 15px;
                @media only screen and (max-width: 480px) {
                    font-size: 10px;
                }  
            }
        }
    }
        
}
/*Footer*/
footer{ 
    background-color: #fff0df;
    display: flex;
    justify-content: space-around;

/*Redes sociales*/
    .social-media-logos{ 
        background-color: #fff0df;
        padding: 10px;
        .instagram-info{
            .i-link {
                font-size: 15px;
                color: black;
                &:hover{ 
                    text-decoration: underline;
                }
            }
        }
        .facebook-info{ 
            .f-link{ 
                font-size: 15px;
                color: black;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
/*Logo de la compañia*/
    .company-logo{
        img{ 
            width: 25%;
            height: auto;
            border-radius: 15px;
            align-items: center;
        }
    }
/*Informacion de contacto*/
    .contact-info {
        text-align: center;
        padding: 10px;
        .contact-mail{ 
            a{ 
                font-size: 15px;
                text-decoration: none;
                color: black;
                &:hover{ 
                    text-decoration: underline;
                }
                @media only screen and (max-width: 480px){ 
                font-size: 8px;
                }
            }
        }
    }
    .phone-number{ 
        a{ 
            font-size: 15px;
            text-decoration: none;
            color: black;
            &:hover{ 
                text-decoration: underline;
            }
            @media only screen and (max-width: 480px){ 
               font-size: 8px;
            }
         }
    }
    .location-pin{ 
        a{ 
            font-size: 15px;
            text-decoration: none;
            color: black;
            &:hover{ 
                text-decoration: underline;
            }
            @media only screen and (max-width: 480px){ 
               font-size: 8px;
            }
         }
    }
}
