
/*Header*/
header{
    background-color: rgb(240, 224, 197);
    div{ 
        .img1{ 
            text-align: center;
            width: 20%;
            height: 15%;
            padding: 10px;
            object-fit: cover;
            margin: 0 695px;
            border-radius: 40%;
            @media only screen and (max-width: 850px) { 
                margin: 3px 95px;
            }
        }
    }
    nav{     
        ul{
            border-bottom: 5px solid rgb(239, 191, 133);
            border-top: 5px solid rgb(239, 191, 133);
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin: 0 5px;
            
            li{              
                a{
                    size: 15px;
                    text-decoration: none;
                    color: black;
                    &:hover{ 
                        text-decoration: underline;
                    }
                    @media only screen and (max-width: 480px){ 
                        size: 8px;
                    }
                }
            }
        }
    }
}

/*Body*/
/*Video*/
section{ 
    .video{ 
        text-align: center;
        video{ 
            width: 60%;
            height: 45%;
            padding: 10px;  
            object-fit: cover;
        }
        @media only screen and (max-width: 850px) { 
            width: 30%;
            height: 20%;
        }
    }
}
/*Carrusel*/
.h2-home{ 
    color: black;
    text-align: center;
    text-decoration: underline;
}
section{
    #carouselExample{
        .carousel-inner{ 
            .carousel-item{ 
                img{ 
                    width: 20%;
                    height: 36%; 
                }
                @media only screen and (max-width: 850px) { 
                    width: 20%;
                    height: 20%;
                }
            }
        }
    }
}
/*Footer*/
footer{ 
    background-color: rgb(240, 224, 197);
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 5px;
/*Redes sociales*/
.social-media-logos{ 
    background-color: rgb(240, 224, 197);;
    .redes-info{
        img{ 
            width: 4%;
            height: 4%;
            padding: 10px;
            object-fit: cover;
            border-radius: 40%;
            @media only screen and (max-width: 850px) { 
                margin: 3px 95px;
            }
        }
        a{ 
            size: 15px;
            text-decoration: none;
            color: black;
            &:hover{ 
                text-decoration: underline;
            }
            @media only screen and (max-width: 480px){ 
               size: 8px;
            }
         }
    }
}
/*Logo de la empresa*/
.company-logo{ 
    img{ 
        text-align: center;
            width: 8%;
            height: 8%;
            padding: 10px;
            object-fit: cover;
            border-radius: 40%;
            @media only screen and (max-width: 850px) { 
                margin: 3px 95px;
            }
    }
}
/*Informacion de contacto*/
.contact-info {
    .contact-mail{ 
        a{ 
            size: 15px;
            text-decoration: none;
            color: black;
            &:hover{ 
                text-decoration: underline;
            }
            @media only screen and (max-width: 480px){ 
               size: 8px;
            }
         }
    }
    .phone-number{ 
        a{ 
            size: 15px;
            text-decoration: none;
            color: black;
            &:hover{ 
                text-decoration: underline;
            }
            @media only screen and (max-width: 480px){ 
               size: 8px;
            }
         }
    }
    .location-pin{ 
        a{ 
            size: 15px;
            text-decoration: none;
            color: black;
            &:hover{ 
                text-decoration: underline;
            }
            @media only screen and (max-width: 480px){ 
               size: 8px;
            }
         }
    }
}
}

