@import "componentes/historia";
@import "componentes/servicios";
@import "componentes/otros";
@import "componentes/productos";

/*Header*/
header{
    background-color: #fff0df;
    div{ 
        .image-logo{ 
            width: 15%;
            height: 10%;
            margin: 0 40%;
            @media only screen and (max-width: 850px) { 
                margin: 3px 335px ;
            }
        }
    }
    nav{     
        ul{
            border-bottom: 5px solid #fbd2a1;
            border-top: 5px solid #fbd2a1;
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin: 0 5px;
            @media only screen and (max-width: 480px ){
                margin: 0 0;
            }
            li{       
                a{

                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                    font-family: "Annapurna SIL", serif;
                    &:hover{ 
                        text-decoration: underline;
                    }
                    size: 35px;
                    @media only screen and (max-width: 480px){ 
                    font-size: 10px;
                    }   
                }
            }
        }
    }
}

/*Body*/
/*Video*/
section{ 
    .video{ 
        text-align: center;
        video{ 
            width: 50%;
            height: 45%;
            padding: 10px;  
            object-fit: cover;
        }
        @media only screen and (max-width: 650px) { 
            width: 30%;
            height: 20%;
        }
    }
}
/*Carrusel*/
.h2-home{ 
    color: black;
    text-align: center;
    text-decoration: underline;
    size: 15px;
}
section{
    #carousel{
        .carousel-inner{ 
            .carousel-item{ 
                img{ 
                    width: 100px;
                    height: auto; 
                }
                @media only screen and (max-width: 850px) { 
                    width: 20%;
                    height: 20%;
                }
            }
        }
    }
}
/*Productos Varios*/
.product-varios{ 
    size: 15px;
    color: black;
    text-align: center;
    text-decoration: underline;
}
.grid{ 
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 10px;
    .card{ 
        .card-item-top{ }
        .card-body{ 
            .card-text{ 
                size: 15px;
            }
        }
    }
}
/*Footer*/
footer{ 
    background-color: #fff0df;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 5px;
/*Redes sociales*/
    .social-media-logos{ 
        background-color: #fff0df;
        div{
            img{ 
                width: 10%;
                height: 10%;
                padding: 10px;
                border-radius: 40%;
                @media only screen and (max-width: 850px) { 
                margin: 3px 95px;
                }
            }
        a{ 
                size: 15px;
                text-decoration: none;
                color: black;
                &:hover{ 
                    text-decoration: underline;
                }
                @media only screen and (max-width: 480px){ 
                    size: 8px;
                }
            }
        }
    }

/*Informacion de contacto*/
    .contact-info {
        text-align: center;
        .contact-mail{ 
            a{ 
                size: 15px;
                text-decoration: none;
                color: black;
                &:hover{ 
                    text-decoration: underline;
                }
                @media only screen and (max-width: 480px){ 
                size: 8px;
                }
            }
        }
    }
    .phone-number{ 
        a{ 
            size: 15px;
            text-decoration: none;
            color: black;
            &:hover{ 
                text-decoration: underline;
            }
            @media only screen and (max-width: 480px){ 
               size: 8px;
            }
         }
    }
    .location-pin{ 
        a{ 
            size: 15px;
            text-decoration: none;
            color: black;
            &:hover{ 
                text-decoration: underline;
            }
            @media only screen and (max-width: 480px){ 
               size: 8px;
            }
         }
    }
}
