
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito+Sans:opsz,wght@6..12,300&family=Salsa&display=swap');

/* CSS "Header/Home" */
header{ 
    margin: 0;
    background-color: #FFF0DF;
}
/* logo */
.img1{
    width: 15%;
    height: 15%;
    justify-content: center;
    margin-left: 43%;
}
/* navegador*/
ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    border-top: 5px solid #f8d5ae;
    border-bottom: 5px solid #f8d5ae;
}
li{
    color: black;
    padding: 5px;
    display: inline-flex;
    justify-content: space-around;    
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#navegador:visited { 
    text-decoration: underline;
    color: black;
}
p{
    font-size: 15px;
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
}

/*productos y video*/
.slider-container {
    display: flex;
    width: 100%;
    height: 50vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
.slider-item img {
    flex: 0 0 100%;
    width: 50%;
    object-fit: cover;
    scroll-snap-align: center;
  }
.video{ 
    width: 8%;
    height: 8%;
    margin-left: 0%;
}


/*HISTORIA*/
.history{ 
    text-align: center;
    font-family: nunito;
    font-size: 30px;
}
.due침as{ 
    display: flex;
}
.due침a1, .due침a2{ 
    display: flex;
    margin-left: 16px;
}
.img-due침a{ 
    display: flex;
    margin-left: 16px;
    width: 30%;
    height: 30%;
}
/* SERVICIO */
.service{ 
    text-align: center;
    font-family: nunito;
    font-size: 30px;
}
.serv{ 
    width: 30%;
    height: 20%;
    text-align: center;
}

/*FOMULARIO DE CONTACTO*/
.contact-form{ 
    margin: 15px;
    color: black;
    text-align: center;
    font-size: 15px;
}
.contacto{ 
    display: flex;
    flex-direction: column;
}

/* UBICACION Y CONTACTO */
h2{
    font-size: 25px;
    text-align: left;
    font-family: nunito;
    margin: 15px;
    margin-bottom: 25px;
}
#contacto::before{
    content: "游";
}
#ubicacion::before{ 
    content: "游늸";
}
.ubic{
    display: flex;
    justify-content: space-between;
    font-size: 20px ;
    color: black;
    text-align: left;
    margin-left: 10px;
}

/*CSS FOOTER*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fff0df;
    border-top: 5px solid #f8d5ae;
  }
.social-media-logos {
    display: flex;
  }
.social-info div{ 
    flex-direction: column;
  }
 .company-logo {
    text-align: center;
    width: 30px
  }
  .redes-info{ 
    font-size: 15px;
  }
.contact-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 15px;
  }
.contact-info div {
    margin-bottom: 10px;
  }

/* MEDIDAS QUERY*/
@media only screen and (max-width: 420px) { 
    a{ 
    font-size: 15px;
   } 
   .video{ 
   display: none;
   }
   .company-logo{ 
    display: none;
   }

}
@media only screen and (min-width: 421px) and (max-width: 980px) {
    a{ 
        font-size: 20px;
    } 
}