
/*Body - Historia*/
.history-title{ 
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
}
.history{ 
    padding: 15px;
    box-sizing: border-box ;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 760px) {
        .history-info{ 
            display: none;
        }
        #nosotras{ 
            font-size: 15px;
            h2{ 
                font-size: 20px;
            }
        }
    }
    .history-info{
        margin: 20px;
       font-size: 17px;
    }
    
    img{ 
        width: 350px;
        height: 250px;
        border: 10px solid #fff0df;
        @media only screen and (max-width:760px) {
            margin-left: 150px;
        }
    }
    .img-inag{ 
        width: 300px;
        height: 250px;
        border: 10px solid #fff0df;
    }
    figcaption{ 
        text-align: center;
        display: none;
        @media only screen and (max-width:760px) {
            font-size: 12px;
            color: black;
           
        }
    }
}
