
/*Body - Otros*/
#contacto{ 
    color: black;
    text-decoration: underline;
    font-size: 30px;
    @media only screen and (max-width:480px) {
        font-size: 25px;
    }
}
.contact-form{ 
    align-items: center;
    padding: 15px;
    text-align: center;
}
#ubicacion{ 
    color: black;
    font-size: 30px;
    text-decoration: underline;   
    @media only screen and (max-width:480px) {
        font-size: 25px;
    }
}
.location-info{ 
    padding: 15px;
    box-sizing: border-box ;
    display: flex;
    align-items: center;
    iframe{ 
        width: 80%;
        height: 90%;
        @media only screen and (max-width:480px) {
            width: 40%;
            height: 30%;
        }
    }
    .location{ 
        margin-left: 30px;
        font-size: 15px;
        @media only screen and (max-widht: 480px) {
            font-size: 10px;
        }
    }
}