
/*Body - Productos*/
.products-title{ 
  font-size: 35px;
  text-align: center;
  text-decoration: underline;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, minmax(200px, auto));
    grid-gap: 20px;
  }

  h2{ 
    text-decoration: underline;
  }

  .product {
    background-color: #fff0df;
    padding: 15px;
    box-sizing: border-box;
    margin: 10px 15px;
    font-size: 15px;
  }

  .product img {
    max-width: 100%;
    height: auto;
  }