
/*Body - Servicios*/
.service-title{ 
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}
.service{
    padding: 15px;
    box-sizing: border-box ;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    
    figure{ 
        margin: 10px;
    }
    figcaption{ 
        text-align: center;
        display: none;
        @media only screen and (max-width:760px) {
            font-size: 14px;
            color: black;
            display: block;
            margin-left: 140px;
        }
    }
    }
    img{ 
        width: 300px;
        height: auto;
        border: 20px solid #fff0df;
        margin: 5px;
        @media only screen and (max-width: 760px){
            width: 300px;
            height: auto;
            border: 10px solid #fff0df;
        }
    }
    .service-info{ 
        margin-left: 5px;
        p{ 
            font-size: 18px;
        }
        h2{ 
            font-size: 25px;
        }
        @media  only screen and (max-width: 760px) {
            font-size: 13px;
            display: none;
        }
    }
.service-phone{
    display: none;
    @media only screen and (max-width:760px) {
        display: block;
    }
    #regalos{ 
        font-size: 15px;
        background-color: #f8e7d3;
        h2{ 
            font-size: 20px;
            text-align: center;
            background-color: #fbe3c6;
        }
    }
    #rincon{ 
        font-size: 15px;
        background-color: #f8e7d3;
        h2{ 
            font-size: 20px;
            text-align: center;
            background-color: #fbe3c6;
        }
    }
    #taller{ 
        font-size: 15px;
        background-color: #f8e7d3;
        h2{ 
            font-size: 20px;
            text-align: center;
            background-color: #fbe3c6;
        }
    }
    #aromaterapia{ 
        font-size: 15px;
        background-color: #f8e7d3;
        h2{ 
            font-size: 20px;
            text-align: center;
            background-color: #fbe3c6;
        }
    }
    #mesas{ 
        font-size: 15px;
        background-color: #f8e7d3;
        h2{ 
            font-size: 20px;
            text-align: center;
            background-color: #fbe3c6;
        }
    }
}

