
/*Body - Servicios*/
.service-title{ 
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
}
.service{ 
    padding: 15px;
    box-sizing: border-box ;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    @media only screen and (max-widht: 840px) {
        img{ 
            width: 20%;
        }
        .service-info{ 
            font-size: 10px;
            
        }
    }
    img{ 
        width: 28%;
        height: auto;
        border: 20px solid #fff0df;
        @media only screen and (max-widht: 840px){
            width: 15px;
            height: auto;
        }
    }
    .service-info{ 
        margin-left: 30px;
        font-size: 18px;
        @media only screen and (max-widht: 750px) {
            font-size: 10px;
        }
    }
}
